footer {
  background: $color-secondary;

  .footer__container {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 3rem !important;

    p {
      color: $color-grey;
      font-weight: 500;
    }
  }
}